<div class="row">
  <div class="col-md-12">
    <div class="sidenav">
      <button class="logo" disabled>
        <a [routerLink]="['/shop-dashboard']" class="logo">
          <img src="../../../../assets/logo.svg" alt="Homepage" height="100" />
        </a>
      </button>

      <button class="menubtn"[routerLink]="['/shop-dashboard/my-shop']">
        <a >
          <i class="fas fa-user-edit m-r-15"></i> My Shop</a
        >
      </button>
      <button class="menubtn" [routerLink]="['/shop-dashboard/myboat']">
        <a 
          ><i class="fas fa-file-alt m-r-15"></i>My Boats</a
        >
      </button>

      <button class="menubtn" (click)="logout()">
        <i class="fas fa-sign-out-alt m-r-15"></i>Logout
      </button>
    </div>
  </div>
</div>
