<div class="picture1 row">

  <table class="fl-table">
    <tr>
      <th>
        Owner
      </th> 
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        N seats
      </th>
      <th>
        Price
      </th>
      <th>
        Available
      </th>
      <th>
        Edit
      </th>
      <th>
        Cancel
      </th>
    </tr>
    <tr>
      <td>
        <select [(ngModel)]="boattoinsert.user" required>
          <option *ngFor="let user of users" [ngValue]="user">{{user.username}}</option>
        </select>
      </td> 
      <td>
        <input placeholder="Name" [(ngModel)]="boattoinsert.name">
      </td>
      <td>
        <input placeholder="Type" [(ngModel)]="boattoinsert.type">
      </td>
      <td>
        <input placeholder="N_seats" [(ngModel)]="boattoinsert.n_seats">
      </td>
      <td>
        <input placeholder="Price" [(ngModel)]="boattoinsert.price">
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="boattoinsert.available">
      </td>
      <td>
        <button (click)="insert(boattoinsert)">Insert</button>
      </td>
      <td>
        <button class="delete" (click)="clear()">Clear</button>
      </td>
    </tr>
    <tr *ngFor="let x of boats">
      <td>
        <select [(ngModel)]="x.user" required>
          <option [ngValue]="x.user" disabled selected>{{x.user.username}}</option>
          <option *ngFor="let user of users" [ngValue]="user">{{user.username}}</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="x.name">
      </td>
      <td>
      <input [(ngModel)]="x.type">
      </td>
      <td>
      <input [(ngModel)]="x.n_seats">
      </td>
      <td>
      <input [(ngModel)]="x.price">  
      </td>
      <td>
        <input type="checkbox" [(ngModel)]="x.available">
      </td>
      <td>
        <button (click)=update(x)>Save</button>
      </td>
      <td>
        <button class="delete" (click)="delete(x)">Delete</button>
      </td>
    </tr>
  </table>

</div>
