<div id="sfondo">
  <div class="container rounded  mt-5 mb-5" id="id">
    <div class="row">
      <div class="col-md-3 border-right"></div>

      <div class="col-md-5 border-right purchase">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Rental</h4>
        </div>
        <label for="from">from:</label>
        <input type="date" id="from" name="from" [(ngModel)]="fromDate" />
        <!--datetime-local per avere anche le ore-->
        <label for="to">to:</label>
        <input type="date" id="to" name="to" [(ngModel)]="toDate" />

        <p class="boat col-md-6">
          Noleggiare: <br>
          <label class="labels">nome</label
          ><input
            type="text"
            class="form-control"
            readonly
            required
            minlength="1"
            maxlength="256"
            name="name"
            id="name"
            value="{{ boat.name }}"
          />
          <label class="labels">tipo</label
          ><input
            type="text"
            class="form-control"
            readonly
            required
            minlength="1"
            maxlength="256"
            name="name"
            id="name"
            value="{{ boat.type }}"
          />
          <label class="labels">con sedie</label
          ><input
            type="text"
            class="form-control"
            readonly
            required
            minlength="1"
            maxlength="256"
            name="name"
            id="name"
            value="{{ boat.n_seats }}"
          />
          <label class="labels">per € al giorno</label
          ><input
            type="text"
            class="form-control"
            readonly
            required
            minlength="1"
            maxlength="256"
            name="name"
            id="name"
            value="{{ boat.price }}"
          />
        </p>
        <div class="col-lg-7 mt-5 text-center">
          <button
            class="buybtn btn btn-primary profile-button"
            (click)="rent()"
          >
            Noleggiare?
          </button>
          <div class="col-sm-1"></div>
          <button
            class="backbtn btn btn-primary profile-button"
            [routerLink]="['/user-dashboard/boats']"
          >
            cancella
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
