body {
    background: rgb(99, 39, 120)
}

.purchase{
    width: 100%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(5, 145, 0);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #c30000
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #00a508;
    box-shadow: none
}

.back:hover {
    color: #5b2b63;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
#sfondo{
    background-image: url(https://c.wallhere.com/photos/bf/9a/sea_boat_sky_clouds-291598.jpg!d);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
    
}
#id{
    font-size: 2rem;
    text-shadow: 4px 4px 4px black;
    position: absolute;
    left: 15%;
    top: 5%;
}
#id input{
    font-size: 1.5rem;
}