<div class="sfondo">
	<div class="container-fluid  ">
		<div class="logop">
			<img src="https://image.shutterstock.com/image-vector/retro-bakery-logo-design-vintage-260nw-1264605553.jpg" alt="">

		</div>

<form #f="ngForm">
	<!-- Email input -->
	<div class="form-outline mb-4">
	  <input type="text" id="user"name="username" class="form-control" ngModel />
	  <label class="form-label" for="user">Username</label>
	</div>
  
	<!-- Password input -->
	<div class="form-outline mb-4">
	  <input type="password" id="pass" name="password" class="form-control" ngModel/>
	  <label class="form-label" for="pass">Password</label>
	</div>
  
	<!-- 2 column grid layout for inline styling -->
	
  
	<!-- Submit button -->
	<button type="submit" (click)="login(f)"class="btn btn-primary btn-block mb-4">Sign in</button>
  
	<!-- Register buttons -->
	<div class="text-center">
	  <p>Not a member? <a href="#"[routerLink]="['/register']">Register</a></p>
	  
	</div>
  </form>
</div>
</div>
