@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}


.sfondobackimg{
	position: absolute;
	z-index: 1;
	filter: blur(3px);
	width: 100%;	/* fill page*/
    height: 100%;
    top: 0;
}

.backimg {
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.backlogo{
	position: relative;
	width: 70%;
    height: vh;
	z-index: 2;
	left: 10.5%;
	margin-bottom: 1em;	/*no sovrapposition*/
    text-align: center; /*center*/
}

.logo{
    width: 100%;	/*allow to expand*/
	position: static;
}

.screen {
	position: absolute;	
    top: calc(60% - 325px);
    right: 5%;
	height: 600px;
	width: 360px;
}

.screen__content {
color: #000000;
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.login {
    background-color: rgba(255, 255, 255, 0.848);
	width: 320px;
	height: 81%;
	padding: 30px;
	position: inherit;
}

.login_box{
	text-align: center;
}

.login__field {
	padding: 10px 0px;	
	position: relative;	
    margin-bottom: 10px;
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #000000;
}

.login__input {
    text-align: center;
	border: none;
	border-bottom: 3px solid #000000;
	background: rgb(128, 128, 128);
	padding: 10px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}
::placeholder{
	color: #FFF;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	transition: .5s;
	outline: none;
	border-bottom-color: #ffffff;
}

.login__submit {
	background: rgb(117, 255, 239);
	font-size: 20px;
	margin-top: 10px;
	padding: 16px 20px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
    text-decoration-color: #432d01;
    text-shadow: #FFF;
	font-weight: 700;
	width: 100%;
	color: #000000;
	cursor: pointer;
	transition: .5s;
	border-radius: 5px;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #ffffff;
	outline: none;
	transform: scale(1.05);
}

.register__submit {
	background: rgb(255, 44, 82);
	font-size: 20px;
	margin-top: 2px;
	padding: 16px 20px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
    text-decoration-color: #432d01;
    text-shadow: #FFF;
	font-weight: 700;
	width: 100%;
	color: #000000;
	cursor: pointer;
	transition: .5s;
	border-radius: 5px;
}

.register__submit:active,
.register__submit:focus,
.register__submit:hover {
	border-color: #ffffff;
	outline: none;
	transform: scale(1.05);
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #442900dd;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #4d2d00;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
