.container-fluid{
    margin-top: 10rem;
    text-align: center;
}
h1 {
    color: rgb(201, 107, 44);
    font-weight: bold;
    
}
.card{
    margin: 5rem auto;
    background-color: rgba(255, 255, 255, 0.534);
    
    
    
}
.btn-primary{
    background-color: rgb(201, 107, 44);
    border-color:rgb(201, 107, 44); ;
}
.sfondo{
    background-image: url(https://th.bing.com/th/id/R.267c1b75e0f6740ace5ba154625cbc1a?rik=s5iOZ2CFnjz8Ng&pid=ImgRaw&r=0);
    height: 100vh;
}