input{
    
    width: 4rem
}
th{
  width: 50%;
}

tr{
  width: 80%;
}

h4{
  margin-right: 0.5rem;
}
.sfondo{
  position:relative ;
  bottom: 0px;
  height: 10vh;
  background-image: url(https://th.bing.com/th/id/OIP.0-4hrGgeH8zkgfgwjiBdVgD6D6?pid=ImgDet&rs=1);
}
.table{
  margin-top: 5rem;
}