<div class="row">
    <div class="col-md-12">
        <div class="sidenav">

            <button class="menubtn"  [routerLink]="['/admin-dashboard']">
                <a> <i class="fas fa-home m-r-10"> </i>
                    Dashboard </a>
            </button>

            <button class="menubtn"  [routerLink]="['/admin-dashboard/user-data']">
                <a> <i class="fas fa-user m-r-10"></i> Profile </a>
            </button>
            
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#users"
                (click)="userscollapse()"> <i class="fas fa-users m-r-15"></i>Users
            </button>
            <div class="collapsebtn" id="users" *ngIf="isUserCollapsed">
                <button [routerLink]="['/admin-dashboard/users']" class="menubtn adminbtn">
                    <a> <i class="fas fa-edit m-r-10"></i> Manage Users </a>
                </button>
            </div>
            <button type="button" class="menubtn" data-toggle="collapsebtn" data-target="#boats"
                (click)="boatscollapse()"> <i class="fas fa-anchor m-r-15"></i>Boats
            </button>
            <div class="collapsebtn" id="boats" *ngIf="isBoatCollapsed">
            <button [routerLink]="['/admin-dashboard/boats']" class="menubtn adminbtn">
                <a> <i class="fas fa-edit m-r-10"></i> Manage Boats  </a>
            </button>
            </div>
            <button class="menubtn" (click)="logout()">
                <i class="fas fa-sign-out-alt m-r-15"></i> Logout
            </button>
        </div>
    </div>
</div>