body {
  background: rgb(99, 39, 120);
}

.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(5, 145, 0);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #c30000;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #00a508;
  box-shadow: none;
}

.back:hover {
  color: #5b2b63;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

.sfondo {
  background-image: url(https://images4.alphacoders.com/102/thumb-1920-1024859.jpg);
  background-size: cover;
  height: 100vh;
}
#id {
  position: absolute;
  right: 35%;
  width: 40%;
  top: 30%;
  background-color: white;
}
#menuPallini .card img {
  width: 10rem;
  height: 10vh;
  border-radius: 100%;
  box-shadow: 0px -2px 4px 1px rgb(255, 255, 255);

  transform: scale(105%);
}
#menuPallini .card {
  border: none;
  margin-top: 3rem;
  background-color: transparent;
  cursor: pointer;
}
#menuPallini .card:hover {
  transform: scale(105%);
}
#menuPallini {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding-right: 3rem;
}
#info{
    color: aliceblue;
    font-size: 4rem;
    padding: 20rem;
    
}

