<form
  class="row g-3"
  [formGroup]="shopToUpdate"
  (ngSubmit)="update()"
  *ngIf="show == true"
>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Shop name</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress2"
      value="{{ user.username }}"
      placeholder="La Barcaccia"
    />
  </div>
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail4"
      placeholder="la.barcaccia@gmail.com"
      formControlName="email"
    />
  </div>

  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="Boat street 27"
      formControlName="address"
    />
  </div>
  <div class="col-md-12">
    <label for="inputSaldo" class="form-label">Networth</label>
    <input
      type="number"
      class="form-control"
      id="inputSaldo"
      placeholder="235235.54 $"
      formControlName="networth"
    />
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-outline-secondary">Update</button>
  </div>
</form>
<div id="mappa">
  <iframe
    *ngIf="mapp == true"
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d95062.84118262655!2d12.497715199999998!3d41.877504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sit!2sit!4v1666617723964!5m2!1sit!2sit"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<div class="sfondo">
  <h1>{{ user.username }}</h1>
  <div class="text">
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
      deleniti saepe provident neque ex omnis quo illum cum id! Possimus amet
      neque 
      eius laudantium cum blanditiis sit quam molestiae impedit!
    </p>
  </div>
  <div *ngIf="presentation==true" id="presentation">
    <p>..Check your shop..</p>
    <p>..or..</p>
    <p>..Search on Maps..</p>
  </div>
  

  <div id="menuPallini">
    <div class="card text-bg-dark" (click)="showModal()">
      <img
        src="https://images.pexels.com/photos/13661320/pexels-photo-13661320.jpeg?auto=compress&cs=tinysrgb&w=1600"
        class="card-img"
        alt="Edit"
      />
      <div class="card-img-overlay">
        <h5 class="card-title">Shop info</h5>
      </div>
    </div>

    <div class="card text-bg-dark" (click)="showMapp()">
      <img src="../../../assets/spiaggia.webp" class="card-img" alt="Edit" />
      <div class="card-img-overlay">
        <h5 class="card-title">Maps</h5>
      </div>
    </div>
  </div>
</div>
