<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"> 
<div class="picture1">

<div class= "container">


  <div class="boxes">
    
    
   <div unselectable="on" [routerLink]="['/admin-dashboard/users']" class="box pink" >Users <div class="innerbox">{{users.length}}  	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; &nbsp; &nbsp; &nbsp; 		  <i class="fa-solid fa-users"></i> </div> </div>
   <div [routerLink]="['/admin-dashboard/boats']"class="box yellow">Boats<div class="innerbox">{{boats.length}}  	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; &nbsp; &nbsp; &nbsp; 	<i class="fa-solid fa-ship"></i></div> </div>
   <div class="box blue">Rentals<div class="innerbox">{{rents.length}}   	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-clock"></i></div> </div>
   <div class="box green">Purcahses<div class="innerbox">{{purchases.length}}   	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; 	&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;     &nbsp;&nbsp; <i class="fa-sharp fa-solid fa-money-check-dollar"></i></div> </div>
   </div>
  
  
</div>
</div>