<div class="sfondo">
  <div class="titolo">
    <h1>Welcome {{ user.username }}</h1>
  </div>
  <div class="text">
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
      Accusamus minus alias nostrum maxime beatae cum mollitia deleniti dolor
      facilis eum?<br />
      Voluptates provident obcaecati praesentium sapiente voluptatem sequi <br>
      voluptate eius dolore!
    </p>
  </div>
  <div class="text">
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
      Accusamus minus alias nostrum maxime beatae cum mollitia deleniti dolor
      facilis eum?<br />
      Voluptates provident obcaecati praesentium sapiente voluptatem sequi <br>
      voluptate eius dolore!
    </p>
  </div>
  <div class="text">
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />
      Accusamus minus alias nostrum maxime beatae cum mollitia deleniti dolor
      facilis eum?<br />
      Voluptates provident obcaecati praesentium sapiente voluptatem sequi <br>
      voluptate eius dolore!
    </p>
  </div>
</div>

<div class="imgProfilo">
  <a [routerLink]="['/shop-dashboard/user-data']">
    <img src="../../../assets/user.svg" alt="user" />
  </a>

  <p>{{ user.username }}</p>
</div>
