<div id="sfondo">
  <div class="pop">
    <table>
      
      <tr id="a">
        <td>
          <input placeholder="Username" [(ngModel)]="usertoinsert.username" />
        </td>
        <td>
          <input
            placeholder="Password"
            type="password"
            [(ngModel)]="usertoinsert.password"
          />
        </td>
        <td>
          <select placeholder="usertype" [(ngModel)]="usertoinsert.usertype">
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
          </select>
        </td>
      
        <td>
          <button (click)="register()">SignIn</button>
        </td>
      </tr>
    </table>
    
  </div>
  <div class="pop" *ngIf="x == true">
    <h2>
      Registrazione effettuata <br />
      con successo
    </h2>
    <button [routerLink]="['/login']" routerLinkActive="router-link-active">
      Ok
    </button>
  </div>
</div>
