<div id="body">
  <div class="container">

      <div class="col-md-1"></div>
      <div class="col-md-10" style="position: relative;">
        <table style="z-index: 1; position: absolute; top: 0; left: 0;">

          <tr>
            <td>password</td>
            <td>
              <input class="data-view data-color" type="{{isReadonly ? 'password' : 'text'}}" 
                [(ngModel)]="password" [readonly]="isReadonly" />
            </td>
            <td>
              <form #userForm="ngForm" (ngSubmit)="submit()" class="collapseform" id="form" *ngIf="!isReadonly">
                <input type="submit" class="inputbtn userbtn" value="Save" />
              </form>
            </td>
          </tr>
          <tr>
            <td>username</td>
            <td>
              <input class="data-view data-color" type="text"
                name="username" id="username" value="{{ user.username }}" readonly />
            </td>
          </tr>
          <tr>
            <td>usertype</td>
            <td>
              <input class="data-view data-color" type="text"
                name="usertype" id="usertype" value="{{ user.usertype }}" readonly />
            </td>
          </tr>

            <tr class="button"><button type="button"  data-toggle="collapseform" data-target="#form" 
                (click)="modifiable()"> Change password </button></tr>
              
          
        </table>

      </div>

  </div>
 
</div> 
<div class="sfondo1">
  

</div>
<div class="sfondo">

</div>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo incidunt dignissimos quaerat, quam assumenda provident saepe, recusandae laboriosam dolorum aliquid aliquam numquam voluptatum unde in. Eveniet quo possimus quod aliquid?</p>

